*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    
    
    .dark {
        background-color: rgb(24, 24, 24);
        color: #fff;
        height: 100vh;
        transition: all 0.3s;
        padding: 40px;
    }
    .dark a{
        color: rgb(91, 138, 173)
    }

    .light {
        background-color: #ffffff;
        color: rgb(24, 24, 24);
        height: 100vh;
        transition: all 0.3s;
        padding: 40px;
    }
}